language: python

python:
  - "2.7"

branches:
  only:
    - master

install:
  - pip install 'tox<2.0'
  - tox --version

script:
  - tox

env:
  - TOXENV=py27
  - TOXENV=py34
  - TOXENV=doc
  - TOXENV=sphinx

