include setup.py setup.cfg
include Makefile LICENSE README
include *.md *.ini .coveragerc
include bin/custodia bin/custodia-cli

include custodia.conf
recursive-include examples *.key *.db

recursive-include docs *.conf *.py *.rst
include docs/Makefile
include man/custodia.7

recursive-include contrib *.txt *.conf *.service *.socket Dockerfile

recursive-include tests *.py
recursive-include tests *.conf
recursive-include tests/ca *.key *.pem *.sh
prune tests/tmp
prune tests/ca/tmp

exclude server_socket
