# /etc/systemd/system/custodia.service

[Unit]
Description=Custodia Secrets Service
Documentation=https://github.com/latchset/custodia
#Requires=custodia.socket
After=network.target

[Service]
#Type=notify
Type=simple
Environment=KRB5CCNAME=FILE:/var/run/custodia/custodia.ccache
ExecStart=/usr/bin/custodia /etc/custodia/custodia.conf

[Install]
WantedBy=multi-user.target
